<html>
<head>

<title>Try's</title>
{% if session %}
<h1>{{ session['k'] }}</h1>
{% endif %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="container" style={width:400 px}>
   <form class="input-group mb-3" action="" method="post">
  <input type="text" class="form-control" name="ser" placeholder="Name" required/>
      <br>
  <input type="text" class="form-control" name="ser" placeholder="Age" required/>
      <br>
  <input type="text" class="form-control" name="ser" placeholder="ID No." required/>
      <br>
  <input class="btn btn-primary" type="submit" name="se" value="Try"/>
  </form>
   </div> 
</body>

</html>
